nrts    ALL=NOPASSWD:  ALL
#nrts    ALL=NOPASSWD:  /usr/bin/tar,/usr/bin/chown,/usr/bin/chmod,/usr/sbin/init,/usr/bin/pkill,/usr/sbin/arp,/usr/bin/csh,/usr/bin/tcsh,/usr/bin/bash,/usr/sbin/shutdown,/usr/sbin/reboot,/usr/bin/mount,/usr/bin/umount,/usr/bin/netstat
#STATION COMPUTER nrts ALL=NOPASSWD:  /usr/sbin/service,/usr/bin/tar,/bin/chown,/sbin/reboot,/sbin/shutdown,/sbin/halt,/usr/bin/pkill,/bin/csh,/bin/tcsh,/bin/ls,/usr/sbin/chown,/sbin/mount,/sbin/umount,/sbin/mdconfig,/usr/sbin/arp,{{ nrts_home_dir }}/scripts/inithumb,/usr/local/bin/iftop
